<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
{{#salaires}}
<ul>
    <li>{{name}} - {{job}} - {{income}} - {{company}}</li>
</ul>
{{/salaires}}
<a href="/newsalaire">Ajouter</a>
</body>
</html>