<html>
<head><title>{{title}}</title></head>
<body>
<h1>{{title}}</h1>
<form method="POST" action="newsalaire">
    <input type="text" name="name" placeholder="nom"/>
    <input type="text" name="job" placeholder="votre job"/>
    <input type="text" name="company" placeholder="votre société"/>
    <input type="text" name="income" placeholder="salaire mensuel"/>
    <input type="submit"/>
</form>
</body>
</html>